.DS_Store
node_modules
/nwcp
/build
/.svelte-kit
/package
nwcp-*
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/lib/images/mask.png
ignored/**
.vscode/launch.json
